<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>

    <form th:action="@{/jobs/new}" th:object="${jobForm}" method="post">
        <div class="form-group">
            <label for="member">회원 선택</label>
            <select name="memberId" id="member" class="form-control">
                <option th:each="member : ${members}"
                        th:value="${member.id}"
                        th:text="${member.name}" />
            </select>
        </div>
        <div class="form-group">
            <label th:for="name">이름</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요"
                   th:class="${#fields.hasErrors('name')} ? 'form-control fieldError' : 'form-control'">
        </div>
        <div class="form-group">
            <label th:for="description">내용</label>
            <input type="text" th:field="*{description}" class="form-control" placeholder="내용을 입력하세요">
        </div>
        <div class="form-group">
            <label for="status">진행 상태</label>
            <select name="status" id="status" class="form-control">
                <option th:each="status : ${statuses}"
                        th:value="${status}"
                        th:text="${status}" />
            </select>
        </div>
        <div class="form-group">
            <label th:for="expiryDate">마감일</label>
            <input type="date" th:min="${today}" th:field="*{expiryDate}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">등록</button>
    </form>
    <br/>

    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>