<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div>
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>

    <div>
        <h1>TODO list</h1>
        <p>
            <a class="btn btn-lg btn-secondary" onclick="createMemberForm()">회원 가입</a>
<!--            <a class="btn btn-lg btn-secondary" href="/members">TODO 추가</a>-->
        </p>
    </div>
    <div>

    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>